*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* var */

:root{
    --main-bg:#141922;
    --header-bg:rgba(8, 11, 18, 90%);
    --navbar-bg:#282828;

    --font-grey:grey;
    --font-hovering:yellow;
    
    --sidebar-size: 200px;
    --sidebar-size-mobile: 70px;
    --header-height:90px;
    --main-width:calc(100% - 200px);
    --navbar-height: calc(100px - 100vh);
    --main-height:calc(100vh - 100px);
    
}

/* typography */

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

/* common */

img{
    width: 100%;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,li{
    margin-bottom:1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

/* spacing */

.pad-1{
    padding: 1em;
}

.pad-2{
    padding: 2em;
}

.pad-3{
    padding: 3em;
}

.mgt-1{
    margin-top:1em;
}

.mgt-2{
    margin-top:2em;
}

.mgt-3{
    margin-top:3em;
}

.mgb-1{
    margin-bottom:1em;
}

.mgb-2{
    margin-bottom:2em;
}

.mgb-3{
    margin-bottom:3em;
}

/* flex tools */

.flex{
    display: flex;
}

.alg-i-cen{
    align-items: center;
}

.space-bet{
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:1.5rem;
}

.col{
    width: calc(100% / 6 - 1.5rem);
    text-align: center;
}

/* color */
.cl-white{
    color: white;
}

/* layout */
.wrapper{
    height: 100vh;
    width: 100%;
}

.main-container{
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
}

aside{
    width: var(--sidebar-size);
    height:100%;
    background-color:black;

    overflow: hidden;
}

main{
    width:var(--main-width) ;
    height: 100%;
    overflow: auto;
    background-color: var(--main-bg);
    color: var(--font-grey);
    
}

#toolbar{
    height: 100px;
    width: 100%;
    position: relative;
    z-index:8;

}
/* sidebar */

/* top sidebar */


.top-sidebar{
    color: var(--font-grey);
    height: calc(100% - 150px);
    min-height: 250px;
}


.spotify-logo img{
    width: 70%;
}

.spotify-logo img:last-child{
    display: none;
}

.sidebar-menu{
    color:var(--font-grey);
}

.sidebar-menu img{
    width: 20%;
}

.menu-search img,
.menu-library img{
    fill: grey;
}

.menu-home,
.menu-search,
.menu-library{
    display: flex;
    align-items: center;
}


.add-playlist i{
    font-size: 3rem;
    margin-right: .5rem;
}

/* bottom sidebar */


.bottom-sidebar{
    color: var(--font-grey);
    height: 150px;  
}

.user-profile{
    color:white;
}


.app-install i{
    display: inline-block;
    padding: .2rem;
    border:1px solid ;
    border-radius: 50%;
    margin-left:.5em;

}

.user-profile img{

    border-radius: 50%;
    margin-right: .5em;

    background-color: var(--font-grey);
    width: 40px;
    height: 40px;
}

/* main */

/* header */

header{
    width: var(--main-width);
    height: var(--header-height);

    padding: 1em;

    position:fixed;
    right:0;
    top:0;
    z-index: 999;

    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    background-color: var(--header-bg);
    
}

.premium-btn{
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px white solid ;
    color: white;
    border-radius:2rem ;
    font-weight: 800;
}

.premium-btn:hover{
    transform: scale(1.1, 1.1);
}

/* main-menu */

#main-menu{
    width: 100%;
    padding: 7em 1em 1em 1em;
    color: var(--font-grey);
}

#main-menu ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

#main-menu ul li{
    position: relative;
    word-wrap: normal;
}

.underline{
    width: 50%;
    height: 4px;
    background-color: green;
    border-radius: 2px;
    
    position: absolute;
    left:50%;
    bottom: -8px;
    transform: translateX(-50%);

    display: none;
}

#main-menu ul li:hover{
    color: var(--font-hovering);
}

#main-menu ul li:hover .underline{
    display:block
}

/* recent for-you popular section */

.card figure{
    position: relative;
    transition: all 8s;
    margin-bottom: 1em;
}

.card figure i{
    position: absolute;
    right:45%;
    top: 45%;
    transform: translatex(-50%), translateY(-50%);
    transform: scale(2, 2);

    color: white;

    display: none;

}

.card figure:hover i{
    display: block;
    cursor: pointer;

}

.card figure:hover img{
    filter: brightness(40%);
}


/* popular */

#popular .card img{
    border-radius: 50%;
}

/* toolbar */

.toolbar-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--navbar-bg);
    color: var(--font-grey);
    
    
    padding: 1em;
}

.song,
.toolbar-audio-settings{
    width: 250px;
}

.song{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.current-song{
    display: flex;
    align-items: center;
}

.current-song p{
    margin-bottom: .2em;
    text-align: center;
}

.bye{
    width: 70px;
    height: 70px;
    object-fit: fill;
    margin-right: 1em;
}

.favourite{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

/* toolbar-main-keys */

.toolbar-main-keys{

    /* debug */
    width: 50%;
    display: inline-block;

    /* background-color: azure; */
}

.play-button{
    text-align: center;
}

.play-button i{
    margin: 0 1em;
    /* display: inline-block; */
}

.play-button i:nth-child(3){
    margin: 0 1.5em;
    transform: scale(1.5, 1.5);
}

.play-button i:nth-child(3):hover{
    transform: scale(1.8,1.8);
    cursor: pointer;
}


.song-duration{
    width: 100%;
   display: flex; 
   align-items: center;
   justify-content: space-between;
}

.timebar{
    width: 80%;
    height: 5px;
    border-radius: 5px;
    
    background-color: var(--font-grey);
}

.timebar-time-passed{
    background-color: rgb(57, 73, 57);
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
    position: relative;
}

.timebar-green-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: none;

    transform: scale(2,2) translateX(-50%);
    position: absolute;
    left: 100%;

}

.timebar-time-passed:hover{
    background-color: var(--font-hovering);
}

.timebar-time-passed:hover .timebar-green-circle{
    display: block;
}

.width50{
    width: 50%;
}





/* color change class wrap */
.top-sidebar .menu-search > *:hover,
.top-sidebar .menu-library > *:hover,
.top-sidebar .add-playlist:hover,
.top-sidebar ul li:hover,
.bottom-sidebar .app-install span:hover,
.favourite i:hover,
.toolbar-audio-settings i:hover {
    color: var(--font-hovering);
    cursor: pointer;
}










